body {
    background-color: #386641;
}

.content {
    max-width: 600px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #ffffff;
    text-align: center;
    font-family: arial;
}

h2 {
    background-color: #6A994E;
    color: #ffffff;
    padding: 10px;
    font-family: arial;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px #264653;
}

.btn {
    height: 50px;
    width: 150px;
    font-size: 18px;
    color: #ffffff;
    background-color: #BC4749;
    box-shadow: 4px 4px #420d0e;
    padding: 5px;
    border-radius: 5px;
}

.card {
    padding: 15px 30px 15px 30px;
    max-width: 500px;
    max-height: 300px;
    text-align: center;
    background-color: #8ec071;
    border-radius: 5px;
    border-top: #fed9b7 5px;
    margin-top: 20px;
}

button:focus {
    outline: none;
}

p {
    font-family: Segoe UI;
    font-size: 20px;
}

img {
    height: 25px;
    width: 25px;
}

footer p {
    color: aliceblue;
    font-size: 15px;
}